
# make jupyter lab to be local to environment
alias jl="jupyter lab --NotebookApp.notebook_dir=<working dir> --MultiKernelManager.default_kernel_name=<env kernel name>"
export JUPYTERLAB_WORKSPACES_DIR=<env dir>/.jupyterlab/workspaces

